<div class="d-flex">
  <h1>Listado Test Alicorp</h1>
</div>

<ul class="d-flex table-list">
  <li class="d-flex justify-content-center">
    <div [ngStyle]="{'width': '50px'}">Id</div>
    <div [ngStyle]="{'width': '200px'}">Nombre</div>
    <div [ngStyle]="{'width': '200px'}">Descripción</div>
    <div [ngStyle]="{'width': '200px'}">Acción</div>
  </li>
  <li *ngFor="let user of users" class="d-flex justify-content-center actions">
    <div [ngStyle]="{'width': '50px'}">{{user.id}}</div>
    <div [ngStyle]="{'width': '200px'}">{{user.name}}</div>
    <div [ngStyle]="{'width': '200px'}">{{user.description}}</div>
    <div [ngStyle]="{'width': '200px'}">
      <button (click)="deleteUser(user.id)">Delete</button>
    </div>
  </li>
</ul>

<router-outlet></router-outlet>
